.about {
    .insetImg {
        &.hideOnMob {
            display: none;
        }
    }
}

@include breakAbove(sm) {
    .about {
        flex-direction: row;
        display: flex;
        position: relative;
        background-image: url('../../dest/img/insignia.png');
        background-size: contain;
        .animationImgWrapper {
            margin-right: 40px;
            .insetImg {
                width: auto;
                height: auto;
                display: block;
            }
        }
        
        .textSection {
            width: 200vw;
            display: flex;
            flex-direction: column;
            .text {
                &.mob {
                    display: none;
                }
                &.desk {
                    font-size: 30px;
                    line-height: 35px;                
                }
            }
            .aboutTextWrapper {
                display: flex;
                gap: 30px;
                justify-content: space-evenly;
                & > * {
                    width: 30%;
                }
                & + .aboutTextWrapper {
                    .animationImgWrapper {
                        position: relative;
                        top: -50px;
                    }
                    .text {
                        width: 40%;
                        position: relative;
                        top: 40px;
                    }
                }
            }
            
        }
    }
}

@include breakAbove(md) {
    .about {
        .textSection {
            width: 150vw;
        }
    }
}

@include breakAbove(xl) {
    .about {
        .textSection {
            width: 100vw;
        }
    }
}