.circle {
    background-color: $red;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px 15px 15px;
    z-index: 9;
    a {
        color: $white;
        margin-bottom: 20px;
    }
    span {
        font-size: 35px;
    }
}