.introSection {
    .textSection {
        padding: 10px;
    }
}

@include breakAbove(sm) {
    .introSection {
        display: flex;
        > * {
            display: block;
            height: 100vh;
        }
    }
}