@keyframes slideInFromTop {
    0% {
        transform: translateY(-5%);
        display: none;
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-1%);
        display: none;
    }
    100% {
        transform: translateX(0);
        display: block;
    }
}

@keyframes translateHeight {
    0% {
        transform: translateY(0);
        background-color: $white;
    }
    99% {
        transform: translateY(100%);
        background-color: $white;
    }
    100% {
        display: none;
        background-color: transparent;
    }
}

@keyframes translateWidthFromLeft {
    0% {
        transform: translateX(0);
        background-color: $white;
    }
    99% {
        transform: translateX(100%);
        background-color: $white;
    }
    100% {
        display: none;
        background-color: transparent;
    }
}

@keyframes slideInFromBottomWithOpacity {
    0% {
        display: none;
        transform: translateY(100%);
        opacity: 0;
    }
    60% {
        display: block;
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animationImgWrapper {
    overflow: hidden;
    position: relative; 
    img {
        height: 100vh;
    }
    &:not(.inView) {
        &:before {
            content: '';
            background-color: $white;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
    &.slideUp {
        animation: 1s ease-out 0s 1 slideInFromTop;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            animation: 1s ease-out 0s 1 translateHeight;
        }
    }
    &.inView:not(&.slideUp) {
        animation: 1s ease-out 0s 1 slideInFromLeft;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            animation: 1s ease-out 0s 1 translateWidthFromLeft;
        }
    }
}