@keyframes slideInFromTop {
    0% {
        transform: translateY(-5%);
        display: none;
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-1%);
        display: none;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes translateHeight {
    0% {
        transform: translateY(0);
        background-color: $white;
    }
    99% {
        transform: translateY(100%);
        background-color: $white;
    }
    100% {
        display: none;
        background-color: transparent;
    }
}

@keyframes translateHeightFromLeft {
    0% {
        transform: translateX(0);
        background-color: $white;
    }
    99% {
        transform: translateX(100%);
        background-color: $white;
    }
    100% {
        display: none;
        background-color: transparent;
    }
}

@keyframes slideInFromBottomWithOpacity {
    0% {
        display: none;
        transform: translateY(100%);
        opacity: 0;
    }
    60% {
        display: block;
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
